# Gradle and build outputs
.gradle/
# Ignore all build outputs except bootJar JARs
**/build/*
!api-node/build/libs/*.jar
!web-node/build/libs/*.jar

# Git
.git/
.gitignore

# IDE
*.iml
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
